:root {
  --app-color-primary: #686bd2;
  --font-family: Copperplate Gothic Light;
}

html, body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  background-color: #314E28;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  color: #F5F5F5;
  height: 4em;
}

header h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  /*background-color: #B19037;*/
  background-color: #9d7725;
  background-image: linear-gradient(160deg, #9d7725 0%, #b9993e 24%, #bba154 49%, #b9993e 75%, #9d7725 100%);
  max-width: 100vw;
  flex-wrap: wrap;
}

li a {
  display: block;
  color: #F5F5F5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover:not(.active) {
  background-color: #4d5536;
  cursor: pointer;
}

li.burgerItem {
  width: 100%;
}

.active {
  background-color: #04AA6D;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

main * {
  max-width: 100%
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.banner {
  max-height: max-content;
  width: 100vw;
}

.contactSideImage {
  max-height: 700px;
  max-width: 100%;
}

menu-section {
  background-color: #314E28;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  padding-bottom: 20px;
}

.menuItems {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  color: #F5F5F5;
}

.menuItem {
  display: grid;
  grid-template-columns: 90% 10%;
}

.upperLeaf {
  grid-column: 1/2;
  position: relative;
}

.upperLeafImg {
  max-height: 300px;
  max-width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  transform: rotate(180deg);
}

.lowerLeaf {
  grid-column: 3/4;
  position: relative;
}

.lowerLeafImg {
  max-height: 300px;
  max-width: 100%;
  position:absolute;
  bottom: 0;
  right: 0;
}

footer {
  text-align: center;
  color: #F5F5F5;
  padding: 5px;
  background-color: #262121;
  min-height: 50px
}

.hoursSection {
  background-color: #262121b3;
  display: flex;
  flex-wrap: wrap;
}

.hours {
  color: #F5F5F5;
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  align-items: center;
  justify-content: center;
  padding: 10px;
  max-width: 100vw;
  text-align: center;
}

.hoursImageSection {
  display: flex;
}

.menuItemPrice {
  grid-column: 2/3;
  justify-content: end;
  display: flex;
  font-size: 20px;
  margin-bottom: 0;
}

.menuItemName {
  grid-column: 1/2;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
}

.productDescription {
  grid-column: 1/3;
}

@media screen and (max-width: 768px) {
  menu-section {
    background-color: #314E28;
    display: flex;
    padding: 15px;
  }

  .menuItem {
    display: grid;
    grid-template-columns: 80% 20%;
  }
}

@media screen and (max-width: 420px) {

}
